<nav class="nav">
  <div class="container">
    <div class="nav__wrapper">
      <div class="logo">
        <img src="img/logo.svg" alt="">
      </div>
      <ul class="menu">
        <li>
          <a href="index.html">
            Главная
          </a>
        </li>
        <li>
          <a href="prod.html">
            Продукты
          </a>
        </li>
        <li>
          <a href="contacts.html">
            Контакты
          </a>
        </li>
        <li>
          <a href="docs.html">
            Документы
          </a>
        </li>
        <li class="menu-item-has-children">
          <a href="#">
            Адреса криптоматов
          </a>
          <ul class="sub-menu">
            <li>
              <a href="adress.html">
                Краснодар
              </a>
            </li>
            <li>
              <a href="adress.html">
                Воронеж
              </a>
            </li>
            <li>
              <a href="adress.html">
                Красноярск
              </a>
            </li>
            <li>
              <a href="adress.html">
                Новосибирск
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="nav__button">
        <div class="bar">

        </div>
        <div class="bar">

        </div>
        <div class="bar">

        </div>
      </div>
    </div>

  </div>

</nav>
